

.menu {
    display: flex;
    justify-content: space-around;
    height: 50px;

    .menu-item {
        border: 1px solid blue;
        width: 100%;
        padding: 12px;
        background: blue;
        color: white;
    }
}

.wrapper {
    height: calc(100% - 50px);
}

.wrapper-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
}

#speed-canvas {
    width: 66%;
    float: right;
}

.collapsible-menu {
    padding: 0 10px;
    transition: all 0.7s cubic-bezier(.85,.01,.38,1);
    &.visible {
      display: block;
    }
    &.hidden {
      display: none;
    }
}


.main-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.car-container {
    height: 100%;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    img {
        height: 80%;
    }
}

.car-position {
}
.car-position-left {
    transform: rotate(-20deg);
}
.car-position-right {
    transform: rotate(20deg);
}

.car-color {
    filter: contrast(40%) sepia(0%) hue-rotate(0deg);
}

.actions-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 180px;
    padding: 0 10px 5px 10px;
}



.default-action-boundary {
    position: relative;
    width: 170px;
    height: 170px;
    max-width: 100%;
    border: solid #ccc 5px;
    background-color: #999;
    border-radius: 50%;
}


.stick-boundary {
    
}

.stick-box {
    width: 60px;
    height: 60px;
    cursor: move;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 20px rgb(0, 71, 224);
}

.stick-box-fixed {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #666;
    position: absolute;
    top: 55px;
    left: 55px;
}




i {
    border: solid #666;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
}

.right {
    top: 74px;
    right: 16px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    top: 74px;
    left: 16px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    top: 16px;
    left: 74px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    bottom: 16px;
    left: 74px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.active-top {
    border-top-color: coral;
}

.active-bottom {
    border-bottom-color: coral;
}

.active-left {
    border-left-color: coral;
}

.active-right {
    border-right-color: coral;
}






.action-buttons {
    left: 10px;
}

.action-button {
    position: absolute;
    border: 0px solid blue;
    padding: 13px;
    background: blue;
    color: white;
    border-radius: 50%;
}

.action-button:active {
    background: lightblue;
}
.action-button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.action-button-right {
    top: 60px;
    right: 10px;
}

.action-button-left {
    top: 60px;
    left: 10px;
}

.action-button-top {
    top: 10px;
    left: 60px;
}

.action-button-bottom {
    bottom: 10px;
    left: 60px;
}

.buttons-boundary {
   
}







$size:30px;
$width:$size;
$height:($size*2);
$color:#bada55;
$percentWidth:($width/100);
$percentHeight:($height/100);

.stopwatch {
margin-top: -120px;
}

.distance {
position: absolute;

top:-48px;
left: 44%;
}

.number{
  position:relative;
  box-sizing:border-box;
  top:130px;
  width:$width;
  height:$height;  
  margin-top:-(50*$percentHeight);
  margin-left:-(100*$percentWidth);
  
  background:#444;
  border-radius:(5*$percentHeight);
}

.section {
  position:absolute;
  box-sizing:border-box;
  border:(8.5*$percentHeight) solid transparent;
}

.top{  
  top:(2*$percentHeight);
  left:(6*$percentWidth);
  width:(88*$percentWidth);
  height:0;
  
  border-top-color:$color;
  
  // -webkit-animation: top 10s infinite;
  transition: opacity 0.2s;
}

.top-right{
  top:(3*$percentHeight);
  right:(4*$percentWidth);
  width:0;
  height:(45*$percentHeight);

  border-bottom-width:(5*$percentHeight);
  border-right-color:$color;
  
  // -webkit-animation: topRight 10s infinite;
  transition: opacity 0.2s;
}

.top-left{
  top:(3*$percentHeight);
  left:(4*$percentWidth);
  width:0;
  height:(45*$percentHeight);
  
  border-bottom-width:(5*$percentHeight);
  border-left-color:$color;
  
  //-webkit-animation: topLeft 10s infinite;
  transition: opacity 0.2s;
}

.middle{
 // -webkit-animation: middle 10s infinite;
 transition: opacity 0.2s;
}

.middle:before{
  box-sizing:border-box;
  content:"";
  display:block;
  position:absolute;
  
  top:(40*$percentHeight);
  left:(4*$percentWidth);
  width:(92*$percentWidth);
  
  border:(5*$percentHeight) solid transparent;
  border-left-width:(8.5*$percentHeight);
  border-right-width:(8.5*$percentHeight);
  border-bottom-color:$color;
}

.middle:after{
  box-sizing:border-box;
  content:"";
  display:block;
  position:absolute;
  
  top:(50*$percentHeight);
  left:(4*$percentWidth);
  width:(92*$percentWidth);
  
  border:(5*$percentHeight) solid transparent;
  border-left-width:(8.5*$percentHeight);
  border-right-width:(8.5*$percentHeight);
  border-top-color:$color;
}

.bottom-right{
  bottom:(3*$percentHeight);
  right:(4*$percentWidth);
  width:0;
  height:(45*$percentHeight);
  
  border-top-width:(5*$percentHeight);
  border-right-color:$color;
  
  // -webkit-animation: bottomRight 10s infinite;
  transition: opacity 0.2s;
}

.bottom-left{
  bottom:(3*$percentHeight);
  left:(4*$percentWidth);
  width:0;
  height:(45*$percentHeight);
  
  border-top-width:(5*$percentHeight);
  border-left-color:$color;
  
  //-webkit-animation: bottomLeft 10s infinite;
  transition: opacity 0.2s;
}

.bottom{
  bottom:(2*$percentHeight);
  left:(6*$percentWidth);
  width:(88*$percentWidth);
  height:0;

  border-bottom-color:$color;
  
  // -webkit-animation: bottom 10s infinite;
  transition: opacity 0.2s;
}

.num0 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:0;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:100;
    }
}

.num1 {
    .top {
        opacity:0;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:0;
    }
    .middle {
        opacity:0;
    }
    .bottom {
        opacity:0;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}

.num2 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:0;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:0;
    }
    .bottom-left {
        opacity:100;
    }
}

.num3 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:0;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}

.num4 {
    .top {
        opacity:0;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:0;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}

.num5 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:0;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}

.num6 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:0;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:100;
    }
}

.num7 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:0;
    }
    .middle {
        opacity:0;
    }
    .bottom {
        opacity:0;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}

.num8 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:100;
    }
}

.num9 {
    .top {
        opacity:100;
    }
    .top-right {
        opacity:100;
    }
    .top-left {
        opacity:100;
    }
    .middle {
        opacity:100;
    }
    .bottom {
        opacity:100;
    }
    .bottom-right {
        opacity:100;
    }
    .bottom-left {
        opacity:0;
    }
}









  @media screen and (max-width: 960px) {
    #speed-canvas {
        width: 45%;
        float: right;
    }
  }

  @media screen and (max-width: 720px) {
    #speed-canvas {
        width: 160px;
        float: right;
    }

    .car-container {
        top: 200px;
        img {
            height: 40%;
        }
    }
    
  }