
<nav class="menu">
  <button class="menu-item" (click)="changeNav('joystick')">
    <span class="material-icons">videogame_asset</span>
      Joystick
  </button>
  <button class="menu-item" (click)="changeNav('motion')">
    <span class="material-icons">screen_rotation</span>
      Motion
  </button>
  <button class="menu-item" (click)="changeNav('gesture')">
    <span class="material-icons">pan_tool</span>
      Gesture
  </button>
  <button class="menu-item" (click)="changeNav('settings')">
    <span class="material-icons">settings</span>
      Settings
  </button>
</nav>

<div class="wrapper">

  <!-- JOYSTICK -->
  <div class="wrapper-view" *ngIf="currentNav === 'joystick'">

    <div class="car-container">
      <app-getting-started *ngIf="!loaded" [text]="loadedText"></app-getting-started>
      <img *ngIf="loaded" src="../assets/images/blank-car1.png"
        class="car-position car-color"
        [ngStyle]="carStyle"
        [ngClass]="{ 'car-position-left': currentStates.includes('active-left'), 'car-position-right': currentStates.includes('active-right') }">
    </div>

    <div class="top-view">
      <div class="left-top-view">
        <span class="material-icons" (click)="sideSettings = !sideSettings">tune</span>

        <div class="collapsible-menu" [ngClass]="{ 'hidden': !sideSettings, 'visible': sideSettings }">
          <div>Color:</div>
          <mat-slider [min]="0" [max]="360" [thumbLabel]="true" (change)="colorChange($event)" (input)="colorChange($event)"></mat-slider>
        </div>

        <div class="stopwatch">
          <div class="number" style="left:170px" [ngClass]="{ 'num0': elapsedTime[0] == 0,'num1': elapsedTime[0] == 1,'num2': elapsedTime[0] == 2,'num3': elapsedTime[0] == 3,'num4': elapsedTime[0] == 4,'num5': elapsedTime[0] == 5,'num6': elapsedTime[0] == 6,'num7': elapsedTime[0] == 7,'num8': elapsedTime[0] == 8,'num9': elapsedTime[0] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:135px;margin-top:-60px" [ngClass]="{ 'num0': elapsedTime[1] == 0,'num1': elapsedTime[1] == 1,'num2': elapsedTime[1] == 2,'num3': elapsedTime[1] == 3,'num4': elapsedTime[1] == 4,'num5': elapsedTime[1] == 5,'num6': elapsedTime[1] == 6,'num7': elapsedTime[1] == 7,'num8': elapsedTime[1] == 8,'num9': elapsedTime[1] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:100px;margin-top:-60px" [ngClass]="{ 'num0': elapsedTime[2] == 0,'num1': elapsedTime[2] == 1,'num2': elapsedTime[2] == 2,'num3': elapsedTime[2] == 3,'num4': elapsedTime[2] == 4,'num5': elapsedTime[2] == 5,'num6': elapsedTime[2] == 6,'num7': elapsedTime[2] == 7,'num8': elapsedTime[2] == 8,'num9': elapsedTime[2] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:65px;margin-top:-60px" [ngClass]="{ 'num0': elapsedTime[3] == 0,'num1': elapsedTime[3] == 1,'num2': elapsedTime[3] == 2,'num3': elapsedTime[3] == 3,'num4': elapsedTime[3] == 4,'num5': elapsedTime[3] == 5,'num6': elapsedTime[3] == 6,'num7': elapsedTime[3] == 7,'num8': elapsedTime[3] == 8,'num9': elapsedTime[3] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:30px;margin-top:-60px" [ngClass]="{ 'num0': elapsedTime[4] == 0,'num1': elapsedTime[4] == 1,'num2': elapsedTime[4] == 2,'num3': elapsedTime[4] == 3,'num4': elapsedTime[4] == 4,'num5': elapsedTime[4] == 5,'num6': elapsedTime[4] == 6,'num7': elapsedTime[4] == 7,'num8': elapsedTime[4] == 8,'num9': elapsedTime[4] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
        </div>

        <div class="distance">
          <div class="number" style="left:100px" [ngClass]="{ 'num0': distance[0] == 0,'num1': distance[0] == 1,'num2': distance[0] == 2,'num3': distance[0] == 3,'num4': distance[0] == 4,'num5': distance[0] == 5,'num6': distance[0] == 6,'num7': distance[0] == 7,'num8': distance[0] == 8,'num9': distance[0] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:65px;margin-top:-60px" [ngClass]="{ 'num0': distance[1] == 0,'num1': distance[1] == 1,'num2': distance[1] == 2,'num3': distance[1] == 3,'num4': distance[1] == 4,'num5': distance[1] == 5,'num6': distance[1] == 6,'num7': distance[1] == 7,'num8': distance[1] == 8,'num9': distance[1] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
          <div class="number" style="left:30px;margin-top:-60px" [ngClass]="{ 'num0': distance[2] == 0,'num1': distance[2] == 1,'num2': distance[2] == 2,'num3': distance[2] == 3,'num4': distance[2] == 4,'num5': distance[2] == 5,'num6': distance[2] == 6,'num7': distance[2] == 7,'num8': distance[2] == 8,'num9': distance[2] == 9 }">
            <div class="section top"></div>
            <div class="section top-right"></div>
            <div class="section top-left"></div>
            <div class="middle"></div>
            <div class="section bottom-right"></div>   
            <div class="section bottom-left"></div>
            <div class="section bottom"></div>
          </div>
        </div>

      </div>
      <div class="right-top-view">
        <canvas id="speed-canvas"></canvas>
      </div>
    </div>

    <div class="main-view">
    </div>

    <div class="actions-view">
      <div class="stick default-action-container">
        <div class="stick-boundary default-action-boundary" [ngClass]="{ 'active-top': currentStates.includes('active-top'), 'active-bottom': currentStates.includes('active-bottom'), 'active-left': currentStates.includes('active-left'), 'active-right': currentStates.includes('active-right') }">
          <i class="arrow right"></i>
          <i class="arrow left"></i>
          <i class="arrow up"></i>
          <i class="arrow down"></i>
          <div class="stick-box-fixed"></div>
          <div class="stick-box" cdkDragBoundary=".stick-boundary" cdkDrag [cdkDragFreeDragPosition]="dragPosition"
            (cdkDragMoved)="dragMove($event)" (cdkDragStarted)="dragStart($event)"
            (cdkDragReleased)="dragEnd($event)"
            >
            
          </div>
        </div>
      </div>
  
      <div class="action-buttons default-action-container">
        <div class="buttons-boundary default-action-boundary">
          <button class="action-button action-button-right">
            <span class="material-icons">remove_circle_outline</span>
          </button>
          <button class="action-button action-button-left">
            <span class="material-icons">offline_bolt</span>
          </button>
          <button class="action-button action-button-top">
            <span class="material-icons">highlight</span>
          </button>
          <button class="action-button action-button-bottom">
            <span class="material-icons">open_in_browser</span>
          </button>
          
        </div>
      </div>
    </div>

  </div>


  <!-- MOTION -->
  <div class="wrapper-view" *ngIf="currentNav === 'motion'">
    <div class="car-container">
      <img src="../assets/images/blank-car1.png" [style.height.px]="pageHeight - 150"
        class="car-position car-color"
        [ngStyle]="carStyle"
        [ngClass]="{ 'car-position-left': currentStates.includes('active-left'), 'car-position-right': currentStates.includes('active-right') }">
    </div>

    <div class="top-view">

    </div>

    <div class="main-view">
      <!-- <img src="../assets/images/blank-car.png" title="saturate" class="car-position car-color"> -->

    </div>

    <div class="actions-view">
      <div></div>
  
      <div class="action-buttons default-action-container">
        <div class="buttons-boundary default-action-boundary">
          <button class="action-button action-button-right">
            <span class="material-icons">remove_circle_outline</span>
          </button>
          <button class="action-button action-button-left">
            <span class="material-icons">offline_bolt</span>
          </button>
          <button class="action-button action-button-top">
            <span class="material-icons">highlight</span>
          </button>
          <button class="action-button action-button-bottom">
            <span class="material-icons">open_in_browser</span>
          </button>
          
        </div>
      </div>
    </div>

  </div>


  <!-- SETTINGS -->
  <div *ngIf="currentNav === 'settings'">
    settings

  </div>


  <!-- GESTURE -->
  <div *ngIf="currentNav === 'gesture'">
    <button type="button" (click)="initTf()">Start</button>
    <div><canvas id="canvas"></canvas></div>
    <div id="label-container"></div>

  </div>
</div>

<router-outlet></router-outlet>
